$primary-color:#458FF6; 
$text-color: #233348;
$text-secondary-color: #FFFFFF;
$text-title:#1F1534;
$text-desc: #7D7987;
body{
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}

*, 
*:before,
*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
}


.header{
    padding: 70px 192px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
    &-logo{
        display: flex;
        justify-items: center;
        cursor: pointer;
    }
    &-menu{
        align-self: center;
    }
   &-logo-item{
       width: 41px;
       height: 41px;
       border-radius: 50%;
       background-color: $primary-color;
       position: relative;
   }
   &-logo-icon{
       position:absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       font-size: 26px;
       font-weight: 700;
       color: $text-secondary-color;
   }
   &-logo-title{
       font-size: 24px;
       font-weight: 700;
       color: $text-color;
       align-self: center;
       padding-left: 10px;
   }

   &-list{
       font-size: 18px;
       font-weight: 400;
       color: $text-title;
       display: flex; 
       transition: all 0.25 ease;
       
   }
  
   &-item:hover{
       opacity: 1;
   }

   &-item{
    margin-left: 40px;
    opacity: 50%;
    cursor: pointer;
    }

}

.intro{
    padding: 84px 163px;
    display: flex;
    margin-bottom: 190px;
    justify-content: space-between;
    &-info{
        max-width: 445px;
        height: 337px;
        align-self: center;
        &-title{
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 25px;
            color: #000000;
            line-height: 56px;
        }
        &-des{
            font-size: 21px;
            font-weight: 300;
            line-height: 32px;
            margin-bottom: 45px;
            color: $text-desc;
        }
    }
    &-btn{
        width: 200px;
        padding: 20px;
        color: #ffffff;
        border-radius: 50px;
        background-color: $primary-color;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.25s ease-in;
        border: 1px solid;
    }
    &-btn:hover{
        background-color: white;
        color: $primary-color;
        border: 1px solid;
    }
    &-image{
        width: 693px;
        height: 598px;
    }
}

.services{
    margin: 0 323px 80px;
    &-title{
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 26px;
    }
    &-line{
        width:56px;
        height:2px;
        background-color: black;
        margin: 0 auto;
    }
    &-des{
        margin-top: 33px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        color: $text-desc
    }
}

.function{
    &-list{
        margin: 0 240px;
        height: 777px;
        max-width: 1120px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 37px;
    }
    &.function:nth-of-type(1){
        &.function-item-image{
            width: 91.98px;
            height: 90px;
            margin-bottom: 21px;
        }
    }
    &.function:nth-of-type(2){
        &.function-item-image{
            width: 61.86px;
            height: 85px;
            margin-bottom: 21px;
        }
    }
    &.function:nth-of-type(3){
        &.function-item-image{
            width: 67.29px;
            height: 95px;
            margin-bottom: 21px;
        }
    }
    &.function:nth-of-type(4){
        &.function-item-image{
            width: 67.08px;
            height: 95px;
            margin-bottom: 21px;
        }
    }
    &.function:nth-of-type(5){
        &.function-item-image{
            width: 80px;
            height: 71.15px;
            margin-bottom: 21px;
        }
    }
    &.function:nth-of-type(6){
        &.function-item-image{
            width: 69.42px;
            height: 95px;
            margin-bottom: 21px;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        outline: none;
        transition: all 0.25s ease;
        background-color: #fafafa;
        &-image{
            flex:1;
            margin: 54px 221px 22.41px 37px;
        }
    }
    &-item:hover{
        box-shadow: 0 0 30px 5px rgba(125, 121, 135, 0.521);
    }
    &-item-title{
        font-size:24px;
        font-weight:700;
        padding:10px 0 ;
        margin-left: 39px;
    }
    &-item-des{
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color:$text-desc;
        margin: 0 0 47px 38px;
    }
    &-btn{
        margin: 0 auto;
        margin-top: 69px;
    }
    
}

.healthcare{
    margin: 220px 192px 0 135px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 447px;
    &-info{
        width: 50%;
        margin: 90px 142px 229px 50px;
    }
    &-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 26px;
    }
    &-line{
        width: 56px;
        height: 2px;
        background: black;
        margin-bottom: 31px;
    }
    &-des{
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        color: $text-desc;
        margin-bottom: 37px;
    }
    &-button{
        background-color: white;
        color: $primary-color;
        border: 1px solid;
    }
    &-button:hover{
        background-color: $primary-color;
        color: white;
        border: 1px solid;
    }

}

.download{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 200px 0 251px 280px;
    &-info{
        width: 50%;
        margin-right: 71px;
    }
    &-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 26px;
    }
    &-line{
        width: 56px;
        height: 2px;
        background: black;
        margin-bottom: 31px;
    }
    &-des{
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        color: $text-desc;
        margin-bottom: 37px;
    }
    &-button{
        background-color: white;
        color: $primary-color;
        border: 1px solid;
    }
    &-image{
        margin-right: 64px;
    }
    &-icon{
        margin-left:15px;
    }
}

.feedback{

    padding: 0 190px;
    margin: 42px 0 216px;
    &-customer{
        width: 1120px;
        height: 425px;
        background-image: linear-gradient(#67C3F3,#5A98F2);
        border-radius: 24px;
        position: relative;
        margin-bottom: 42px;
        
    }
    &-customer-title{
        display: block;
        position: absolute;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        color: white;
        top: 64px;
        left: 299px;
    }
    &-customer-line{
        width: 56px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 137px;
        left: 534px;
    }
    &-customer-info-image{
        position: absolute;
        top:205px;
        left: 118px;
    }
    &-customer-info-name{
        font-size: 22px;
        font-weight: 700;
        color: white;
        line-height: 48px;
        position: absolute;
        top: 236px;
        left: 288px;
    }
    &-customer-info-position{
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 48px;
        position: absolute;
        top: 268px;
        left: 288px;
    }
    &-customer-info-des{
        font-size: 19px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.9);
        line-height: 30px;
        position: absolute;
        top: 216px;
        left: 582px;
        max-width: 420px;
    }
    &-icon{
        width: 336px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        &-left{
            color: $primary-color;
            opacity: 0.5;
        }
        &-right{
            color: $primary-color;
        }
        &-dot{
            display: flex;
        }
        &-dot-item{
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-left: 18px;
        }
        &-dot-item:not(:first-child){
            color: $primary-color;
            opacity: 0.5;
        }
    }
    
}


.checkout{
    margin-bottom: 209px;
    &-header{
        padding: 0 569px 0;
        margin-bottom: 26px;
        font-size: 36px;
        font-weight: 700;
    }
    &-line{
        margin: 0 auto;
        margin-bottom: 79px;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        width: 1120px;
        margin: 0 auto;
        margin-bottom: 69px;
    }
    
    &-title{
        font-size: 21px;
        line-height: 32px;
        max-width: 350px;
        font-weight: 700;
        margin: 24px 66px 12px 33px;
    }
    
    &-des{
        max-width: 350px;
        color:$text-desc;
        font-size: 16px;
        line-height: 28px;
        margin: 0 66px 12px 33px;

    }
    &-card{
        width: 350px;
        background-color: #f6f7fb;
        border-radius: 17px;
        transition: all 0.25s ease;
        cursor: pointer;
    }
    &-card:hover{
        box-shadow: 0 0 30px 5px rgba(125, 121, 135, 0.521);
    }
    &-image{
        width: 100%;
    }
    
    &-more{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $primary-color;
        margin: 0 51px 35px 33px;
        &-text{
            color: rgba(64, 137, 237, 1);
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;

        }
        &-icon{
            margin-left: 8px;
        }
    }
    &-btn{
        margin: 0 auto;
    }
}

.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 100%;
    background-color: rgba(103, 195, 243, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    &-item{
        padding: 118px 0 106px;
    }
    &-item:first-child{
        margin-left: 109px;
    }
    &-des{
        max-width: 391px; 
        padding-bottom: 31px;
    }
    &-logo{
        background-color:white;
        &-title{
            color: #5B9BF3;
        }
    }
    &-title{
        color: white;
    }

    &-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-name{
            font-size: 20px;
            font-weight: 700;
        }
        &-item{
            color:  rgba(255, 255, 255, 1);
        }
    }

   
}